body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #8e44ad, #ffffff);
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}
#vault, .container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 90%;
    margin: 20px 0;
}
#pad {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#code {
    font-size: 2em;
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
button {
    font-size: 1.5em;
    padding: 10px;
    cursor: pointer;
}
#message {
    color: red;
    margin-top: 10px;
}
.payasos {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    margin: 20px 0;
}
.hearts {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
}
.heart {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: white;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    animation: fall 5s infinite;
}
.heart.purple {
    background-color: #8e44ad;
}
@keyframes fall {
    0% {
        transform: translateY(-100px);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh);
        opacity: 0;
    }
}

/* Media query for iPhone and similar devices */
@media (max-width: 480px), (max-width: 1170px) {
    .container {
        padding: 15px;
    }
    h1 {
        font-size: 1.5em;
    }
    p {
        font-size: 1em;
    }
    .payasos {
        max-width: 250px;
    }
}